<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
    <ros2_control name="xy_unilivers" type="system">
        <hardware>
            <plugin>ethercat_driver/EthercatDriver</plugin>
            <param name="master_id">0</param>
            <param name="control_frequency">100</param>
        </hardware>

        <sensor name="limit_switches">
            <state_interface name="limit_switch_left" />
            <state_interface name="limit_switch_right" />
            <ec_module name="limit_switches_on_EL1018">
                <plugin>ethercat_generic_plugins/GenericEcSlave</plugin>
                <param name="alias">0</param>
                <param name="position">6</param>
                <param name="slave_config">$(find xy_unilivers_description)/config/beckhoff_el1018.yaml</param>
            </ec_module>
        </sensor>

        <sensor name="encoder">
            <state_interface name="position" />
            <ec_module name="encoder_on_EL5101">
                <plugin>ethercat_generic_plugins/GenericEcSlave</plugin>
                <param name="alias">0</param>
                <param name="position">2</param>
                <param name="slave_config">$(find xy_unilivers_description)/config/beckhoff_el5101.yaml</param>
            </ec_module>
        </sensor>
    </ros2_control>
</robot>